<div class="flex">
    <div class="flex-1">

      <app-navbar ></app-navbar>
      
      <div class="p-6">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  



<div class="w-full rounded-t-2xl bg-teal-600  flex justify-between px-[10%] py-3 fixed bottom-0">
    <div class="text-center" role="button" routerLink="/home2" routerLinkActive="text-white"><i class="fa fa-home"></i><p>Home</p></div>
    <div class="text-center" role="button" routerLink="/uploads" routerLinkActive="text-white"><i class="fa-regular fa-rectangle-list"></i><p>Uploads</p></div>
    <div class="text-center" role="button" routerLink="/settings" routerLinkActive="text-white"><i class="fa-solid fa-gear"></i><p>Settings</p></div>
</div>
