<section class="pb-20">
  <p class="m-3">Recent Uploads</p>
  @if (prescriptions.length > 0) {
      @for (prescription of prescriptions; track prescription.id) {
          <div class="flex justify-between items-center border rounded-xl w-[90%] shadow m-auto p-5 mb-3">
              <div>
                  <img [src]="prescription.imageUrl" alt="Prescription" class="w-[120px] h-[120px] object-cover m-auto" />
                  <div class="flex-1">
                      <p class="text-gray-600">Uploaded on: {{ prescription.uploadedAt | date:'medium' }}</p>
            
                      @if (prescription.analysisResult) {
                        <p class="text-gray-600">Analysis: {{ prescription.analysisResult }}</p>
                      }
                    </div>
                  <p (click)="deletePrescription(prescription.id)" role="button" class="text-red-700 pb-3">delete prescription</p>
              </div>
              <div class="flex">
                  <div class="flex items-center"><i class="fa-solid fa-file text-3xl mx-5 text-green-600"></i></div>
                  <div>
                      <p>Prescription_123132.jpg</p>
                      <p class="text-gray-500 text-sm">Recognized: 2 Medicines</p>
                      <p class="text-gray-400 text-xs">2025-03-23 11:32:42</p>
                  </div>
              </div>
              <div><i class="fa-solid fa-angle-right"></i></div>
          </div>
      }
  } @else {
      <div class="flex h-[50vh] justify-center items-center">
          <p class="to-gray-500">No recent uploads yet</p>
      </div>
  }
  

  
  
</section>