<div class="flex min-h-screen bg-lightCyan">

  
  
  <!-- Content -->
  <div class="flex-1 ml-0 p-4">
      
      
      <main class="w-[90%] p-3 m-auto border rounded-xl shadow text-center">
          <h1 class="text-2xl font-bold text-black mb-2">Welcome, {{ user?.fullName || 'User' }}</h1>
          <p class="text-sm text-gray-600 mb-8 text-center">
              Did you know? Our AI can identify over 1000 medications with 98% accuracy!
          </p>
          <div class="bg-white p-6 rounded-lg ">
              @if (show) {
                  <div>

                      <p (click)="hide()" role="button" class="text-red-700 pb-3">delete prescription</p>
                  </div>
              } @else {
                  <div>
                      <div class="flex justify-center mb-4">
                          <i class="fa-solid fa-cloud-arrow-up text-green-600 text-7xl"></i>
                      </div>
                      <h2 class="text-lg font-bold text-black text-center mb-2">
                          UPLOAD A PRESCRIPTION IMAGE
                      </h2>
                      <p class="text-sm text-gray-500 text-center mb-4">
                          Select an image from your gallery or capture a new one
                      </p>
                  </div>
              }
              <div class="flex justify-center gap-4">
                  <label for="galleryInput" class="btn-main">Gallery</label>
                  <input type="file" id="galleryInput" accept="image/*" multiple (change)="onFileSelected($event)" style="display: none;" />
                  <label for="cameraInput" class="btn-main">Camera</label>
                  <input type="file" id="cameraInput" accept="image/*" capture="environment" (change)="onFileSelected($event)" style="display: none;" />
              </div>
          </div>
      </main>
  </div>
</div>
  