<h1 class="text-3xl text-center text-white bg-green-600 w-full font-semibold p-4 shadow-md ">
  Forget Password
</h1>

<section class="w-11/12 max-w-lg mx-auto mt-6 p-6 bg-white border rounded-xl shadow-lg">
  <p class="text-2xl font-semibold text-gray-900 text-center">Reset Your Password</p>

  @switch (step) {
    @case (1) {
        <form [formGroup]="verifayEmail" (ngSubmit)="verifayEmailSubmit()" class=" text-center m-auto p-3 w-full">
            <div>
                @let emailControl = verifayEmail.get('email');
                <label for="email" class="block text-gray-700 font-medium mb-1">email</label>
                <div class="relative">
                  <i class="fa-solid fa-user absolute left-3 top-3 text-gray-500"></i>
                  <input type="text" id="email" formControlName="email" 
                    class="pl-10 pr-4 py-2 w-full border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none"
                    placeholder="Enter your email">
                    @if (emailControl?.errors && emailControl?.touched) {
                      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                          </svg>
                          <span class="sr-only">Danger</span>
                          <div>
                              <ul class="mt-1.5 list-disc list-inside">
                                @if (emailControl?.getError('required')) {
                                    <li>email is requierd</li>
                                }
                                  @if (emailControl?.getError('minlength')) {
                                      <li>email is minLength: 3</li>
                                  }
                                  @if (emailControl?.getError('maxlength')) {
                                      <li>email is maxLength: 20</li>
                                  }
                            </ul>
                          </div>
                        </div>
                  }
                </div>
              </div>
            <button [disabled]="verifayEmail.invalid" class="btn-main mt-3">Verifay Email</button>
        </form>
    }

    @case (2) {<form [formGroup]="verifayCode" (ngSubmit)="verifayCodeSubmit()" class=" m-auto text-center p-3 w-full">
        <div>
            @let resetCodeControl = verifayEmail.get('resetCode');
            <label for="resetCode" class="block text-gray-700 font-medium mb-1">resetCode</label>
            <div class="relative">
              <i class="fa-solid fa-user absolute left-3 top-3 text-gray-500"></i>
              <input type="number" id="resetCode" formControlName="resetCode" 
                class="pl-10 pr-4 py-2 w-full border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none"
                placeholder="Enter your resetCode">
                @if (resetCodeControl?.errors && resetCodeControl?.touched) {
                  <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                      <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                      </svg>
                      <span class="sr-only">Danger</span>
                      <div>
                          <ul class="mt-1.5 list-disc list-inside">
                            @if (resetCodeControl?.getError('required')) {
                                <li>resetCode is requierd</li>
                            }
                              @if (resetCodeControl?.getError('minlength')) {
                                  <li>resetCode is minLength: 3</li>
                              }
                              @if (resetCodeControl?.getError('maxlength')) {
                                  <li>resetCode is maxLength: 20</li>
                              }
                        </ul>
                      </div>
                    </div>
              }
            </div>
          </div>
        <button [disabled]="verifayCode.invalid" class="btn-main mt-3">Verifay Code</button>
    </form>}

    @case (3) {
        <form [formGroup]="verifayEmail" (ngSubmit)="restPasswordSubmit()" class=" m-auto text-center p-3 w-full">
            <div>
                @let emailControl = verifayEmail.get('email');
                <label for="email" class="block text-gray-700 font-medium mb-1">email</label>
                <div class="relative">
                  <i class="fa-solid fa-user absolute left-3 top-3 text-gray-500"></i>
                  <input type="text" id="email" formControlName="email" 
                    class="pl-10 pr-4 py-2 w-full border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none"
                    placeholder="Enter your email">
                    @if (emailControl?.errors && emailControl?.touched) {
                      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                          </svg>
                          <span class="sr-only">Danger</span>
                          <div>
                              <ul class="mt-1.5 list-disc list-inside">
                                @if (emailControl?.getError('required')) {
                                    <li>email is requierd</li>
                                }
                                  @if (emailControl?.getError('minlength')) {
                                      <li>email is minLength: 3</li>
                                  }
                                  @if (emailControl?.getError('maxlength')) {
                                      <li>email is maxLength: 20</li>
                                  }
                            </ul>
                          </div>
                        </div>
                  }
                </div>
              </div>
    
              <div>
                @let newPasswordControl = resetPassword.get('newPassword');
                <label for="newPassword" class="block text-gray-700 font-medium mb-1">newPassword</label>
                <div class="relative">
                  <i class="fa-solid fa-user absolute left-3 top-3 text-gray-500"></i>
                  <input type="text" id="password" formControlName="newPassword" 
                    class="pl-10 pr-4 py-2 w-full border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 focus:outline-none"
                    placeholder="Enter your newPassword">
                    @if (newPasswordControl?.errors && newPasswordControl?.touched) {
                      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                          </svg>
                          <span class="sr-only">Danger</span>
                          <div>
                              <ul class="mt-1.5 list-disc list-inside">
                                @if (newPasswordControl?.getError('required')) {
                                    <li>newPassword is requierd</li>
                                }
                                  @if (newPasswordControl?.getError('minlength')) {
                                      <li>newPassword is minLength: 3</li>
                                  }
                                  @if (newPasswordControl?.getError('maxlength')) {
                                      <li>newPassword is maxLength: 20</li>
                                  }
                            </ul>
                          </div>
                        </div>
                  }
                </div>
              </div>
            <button [disabled]="resetPassword.invalid" class="btn-main mt-3">Verifay Email</button>
        </form>
    }
}



  
    <div class="flex flex-col items-center justify-center mt-4">
      <p class="text-gray-500 mb-2">Or</p>
      <a routerLink="/login">I Rempember Now</a>
    </div>
</section>


